
body
{
	background-color: #eed0f5; 
}

h1
{
	border: 5px solid #ebd4f1;
  	color: purple;
	font-size: 50px;
	text-align: center;
}

th, td 
{
  padding: 15px;
}

h2
{
	font-size: 35px;
	text-align: center;
}

div
{
	margin: 25px;
}

.text
{
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}

.image
{
	margin: 40px;
	text-align: center;
	
}
