
body
{
  background-color: #eed0f5; 
}

h1
{
  	color: purple;
	font-size: 50px;
	text-align: center;
}

h2
{
	font-size: 35px;
	text-align: center;
}

div
{
	text-align: center;
	margin: 25;
	border: 1px solid black;
}

.font
{
	font-family: "Courier New", Courier, monospace;
}
